@model IEnumerable<Encantos_do_Brasil.Models.RegiaoPais>

@{
    ViewData["Title"] = "Index";
}

<h1>Regiões</h1>
<td>
    <a asp-action="Create" class="btn btn-success" >Sobre</a>
</td>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Sobre</a>
            </td>
        </tr>
}
    </tbody>
</table>
