@model Encantos_do_Brasil.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h3>Cadastro Usuario</h3>

<form asp-controller="Usuarios" asp-action="Create" method="post">
    <div class="row g-3">
        <div class="col-md-4">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" class="form-control" placeholder="Digite seu nome" />
        </div>
        <div class="col-md-4">
            <label asp-for="NomeUsuario" class="form-label">Nome de Usuario</label>
            <input asp-for="NomeUsuario" class="form-control" placeholder="Digite seu nome de usuário" required />
        </div>
        <div class="col-md-6">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Digite seu email" required />
        </div>
        <div class="col-md-3">
            <label asp-for="Perfil" class="form-label">Preferência</label>
            <select asp-for="Perfil" class="form-select" required>
                <option value="">Escolha...</option>
                <option>Destinos exóticos</option>
                <option>Aventura ao ar livre</option>
                <option>Patrimônio cultural</option>
                <option>Relaxamento em resorts</option>
                <option>Turismo gastronômico</option>
            </select>
        </div>
        <div class="col-12">
            <label asp-for="Senha" class="form-label">Senha</label>
            <input asp-for="Senha" class="form-control" placeholder="Digite sua senha" type="password" required />
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                <label class="form-check-label" for="invalidCheck2">
                    Seus dados estão corretos?
                </label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Salvar Edição</button>
        </div>
    </div>
    @Html.AntiForgeryToken() <!-- Adicione o token anti-falsificação -->
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
