@model Encantos_do_Brasil.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="pt-BR">

<body>
    <div class="container">
        <div class="content">
            <div class="rectangle">
                <div class="circle">
                    <img src="/css/CadastroIcon.png" alt="Ícone" class="icon">
                </div>
                <span class="welcome-text">Bem-Vindo!</span>
            </div>
            <div class="registration-form">
                <h3>Crie uma conta</h3>
                <form asp-action="Create" class="mx-auto" style="max-width: 600px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Nome" class="form-label"></label>
                        <input asp-for="Nome" class="form-control custom-input" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control custom-input" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Preferencia" class="form-label"></label>
                        <select asp-for="Preferencia" class="form-control custom-input" asp-items="Html.GetEnumSelectList<Preferencia>()"></select>
                        <span asp-validation-for="Preferencia" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Senha" class="form-label"></label>
                        <input asp-for="Senha" class="form-control custom-input" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                    <div class="mb-3 text-center">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</body>
</html>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
