@model Encantos_do_Brasil.ViewModels.CidadeEstadoViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="text-center p-8">
    <img src="~/css/CapaPrincipal.png" alt="background" class="imagem_fundo mb-4">
</div>

<div class="col-md-12 p-3 text-center">
    <section>
        <h1>Melhores Destinos</h1>
    </section>
</div>

<div class="container d-flex flex-wrap justify-content-center gap-4">

  @*  Casos hipotéticos não levam a lugar algum, são apenas testes de visão.*@
     

    @foreach (var cidade in Model.ImagemCidades.Select((value, index) => new { value, index }))
    {
        <div class="card d-flex mt-2 mb-4" style="width: 18rem;">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(cidade.value.Dados)" alt="background" class="imagem_fundo card-img-top">
            <div class="card-body">
               
            </div>
        </div>

        @if ((cidade.index + 1) % 3 == 0)
        {
            <div class="w-100"></div>
        }
    }

    @foreach (var estado in Model.ImagemEstados.Select((value, index) => new { value, index }))
    {
        <div class="card d-flex mt-2 mb-4" style="width: 18rem;">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(estado.value.Dados)" alt="background" class="imagem_fundo card-img-top">
            <div class="card-body">
              
            </div>
        </div>

        @if ((estado.index + 1) % 3 == 0)
        {
            <div class="w-100"></div>
        }
    }

</div>


