html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
 
}

html {
  position: relative;
  min-height: 100%;

}

body {
    margin-top: 10vh;
    /* Define a largura do elemento pai como 100% da largura da tela */
    

}
   

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white; /* Cor de fundo do rodapé */
    text-align: center;
    padding: 10px 0; /* Espaçamento interno */

}

.container-fluid {
    position: fixed;
    top: 0;
    border-color: white;
    background-color: #ccf1dc;
    left: 0;
    width: 100%;
    height: 11%; /* Altura inicial da barra */
    text-align: center;
    z-index: 1000; /* Garante que o cabeçalho fique sobre outros elementos */
    overflow: hidden; /* Esconde qualquer conteúdo que possa estender além da altura atual */
    transition: height 0.3s; /* Adiciona um efeito de transição para a altura */
}

.highlight {
    /*Logo de fundo */
    background-image: url(CapaPrincipal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align:start;
    padding-bottom:unset;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo na parte inferior */
    color: #07555f;
    padding-top: 850px; /* Ajuste o valor conforme necessário para mover o texto para baixo */
    font-family: News706 BT; /* Altere a fonte conforme necessário */
    font-size: 24px; /* Altere o tamanho da fonte conforme necessário */
}

#menu{
    margin: 0px;
}
..container {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espaçamento entre as linhas */
}

.item {
    width: calc(25% - 20px); /* 25% da largura do container, menos o espaçamento entre as colunas */
    list-style-type: none; /* Remove os marcadores de lista */
}

    .item a {
        text-decoration: none; /* Remove a decoração de texto dos links */
        color: #000; /* Cor do texto */
    }

.polaroid {
    position: relative; 
    width: 100%; /* Define a largura da polaroid como 100% do contêiner pai */
    height: 350px; /* Define a altura da polaroid como 400 pixels */
    padding: 20px; /* Adiciona um preenchimento interno de 20 pixels */
    background-color: #fff; 
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para dar uma aparência elevada */
}

.imagem {
    width: 100%; 
    height: 85%; /* Define a altura da imagem que vai dentro da polaroid
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse as dimensões da div de imagem */
}

    .imagem img {
        width: 100%; /* Define a largura da imagem como 100% da div de imagem */
        height: 100%; /* Define a altura da imagem como 100% da div de imagem */
        object-fit: cover
    }


.texto {
    text-align: center; /* Centraliza o texto */
    margin-top: 15px; /* Adiciona um espaçamento de 10 pixels na parte superior do texto */
}


