html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
 
}

html {
  position: relative;
  min-height: 100%;

}

body {
    margin-top: 10vh;
    /* Define a largura do elemento pai como 100% da largura da tela */
    

}
   

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white; /* Cor de fundo do rodapé */
    text-align: center;
    padding: 10px 0; /* Espaçamento interno */
}

.container-fluid {
    position: fixed;
    top: 0;
    border-color: white;
    background-color: #ccf1dc;
    left: 0;
    width: 100%;
    height: 11%; /* Altura inicial da barra */
    text-align: center;
    z-index: 1000; /* Garante que o cabeçalho fique sobre outros elementos */
    overflow: hidden; /* Esconde qualquer conteúdo que possa estender além da altura atual */
    transition: height 0.3s; /* Adiciona um efeito de transição para a altura */
}

.highlight {
    /*Logo de fundo */
    background-image: url(CapaPrincipal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align:start;
    padding-bottom:unset;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo na parte inferior */
    color: #ffffff;
    padding-top: 500px; /* Ajuste o valor conforme necessário para mover o texto para baixo */
    font-family: News706 BT; /* Altere a fonte conforme necessário */
    font-size: 24px; /* Altere o tamanho da fonte conforme necessário */
}

#menu{
    margin: 0px;
}

