
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding: 2%;
  
}



header {
    position: fixed;
    top: 0;
    background-color: #C7E7E4;
    left: 0;
    width: 100%;
    height: 11%;
    /* Altura inicial da barra */
    text-align: center;
    z-index: 1000;/**/ /* Garante que o cabeçalho fique sobre outros elementos */
    overflow: hidden;  /*Esconde qualquer conteúdo que possa estender além da altura atual */
    transition: height 0.3s; /* Adiciona um efeito de transição para a altura */
   
}


footer {
    height: 75px; /* Altura reduzida do footer */
    background-color: #C7E7E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;

}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
    flex-direction: column;
    text-align: right; /* Alinha o texto à direita */
}

h4, h5 {
    margin: 0;
    font-size: 15px; /* Tamanho do texto reduzido */
}


.col-lg-6.text-right {
    color: #567C7C;
  }
.col-lg-6 {
    color: #567C7C;
}
